.center {
  margin-top: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.list ul:after {
  background-color: black;
}
.links-list a:after, .list .item-inner:after, .simple-list li:after {
  background-color: black;
}
.media-list .item-inner, li.media-item .item-inner {
  padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left));
}
.list .item-content {
  padding-left: 0px;
}

/* Custom color theme */
.color-blue {
  --f7-theme-color: #0088cc;
  --f7-theme-color-rgb: 0, 136, 204;
  --f7-theme-color-shade: #006da3;
  --f7-theme-color-tint: #00a3f5;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--f7-color-blue);
}

.page.page-red {
  background: #d61a0c;
  background-image: linear-gradient(0deg, #d61a0c 50%, #df1318 90%, #940005);
}

.page.panel-dark {
  background: #0f233c;
}

.panel.panel-right {
  max-height: 500px;
  top: 50px;
}


.color-red {
  --f7-theme-color: #d61a0c;
  --f7-theme-color-rgb: 214, 26, 12;
  --f7-theme-color-shade: #af150a;
  --f7-theme-color-tint: #f22819;
}
.color-red-secondary {
  --f7-theme-color: #fc0303;
  --f7-theme-color-rgb: 252, 3, 3;
  --f7-theme-color-shade: #d40303;
  --f7-theme-color-tint: #fc2b2b;
}

.color-blue {
  --f7-theme-color: #0f233c;
  --f7-theme-color-rgb: 15, 35, 60;
  --f7-theme-color-shade: #07101b;
  --f7-theme-color-tint: #17365d;
}

.bg-red-dark {
  background-color: #af150a;
  min-height: 80px;
}

